@import "../../../Styles/jinyounglim/Common.scss";


.feeds_right {
  width: 293px;
  padding: 0 16px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $bg-color;
  .main_profile p {
    width: 66px;
    height: 66px;
  }
  .common_box {
    margin: 12px 0 0 0;
    padding: 16px;
    position: relative;
    background-color: #fff;
    border: $border-gray;
    h3 {
      margin: 4px 0;
      color: $sub-color;
      font-size: 1.4rem;
    }
    .btn_view_all {
      position: absolute;
      top: 16px;
      right: 16px;
      font-size: 1.2rem;
      font-weight: $font-bold;
    }
    .user_list {
      height: 144px;
      margin: 8px 0;
      overflow: auto;
    }
  }
}
