.main {
  width: 1000px;
  margin: 0 auto;
  
  .header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 54px;
    background-color: #fff;

    .Navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1000px;

      .instar{

        h1 {
          font-size: 20px;
          font-family: 'Lobster', cursive;
        }
      }
    }

    .searchBox {
      position: relative;

      input {
        width: 215px;
        height: 28px;
        background-color: #fafafa;
        border: none;
      }

      i{
        position: absolute;
        left: 85px;
        top: 7px;
        font-size: 15px;
        color: #b4b4b4;
      }

      .search {
        position: absolute;
        left: 105px;
        top: 4px;
        font-size: 15px;
        color: #b4b4b4;
      }
    }

    .icon{

      .homeIcon{
        width: 20px;
        margin-right: 20px;
      }
      
      .heartIcon{
        width: 20px;
        margin-right: 20px;
      }
      
      .userIcon{
        width: 20px;
        margin-right: 20px;
      }
    }
  }
  // Navbar

  .LeftCont{
    position: relative;
    width: 612px;
    height: 118px;
    top: 45px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #e4e1e1;

    .storyList {
      display: flex;
      justify-content: space-between;
      position: relative;
      left: -25px;
      top: 5px;

      .storyName {
        display: flex;
        position: relative;
        justify-content: center;
        width: 66px;
        height: 66px;
        background-image: url("../img/rainbow.png");
        background-size: contain;

        .userName {
          
          img {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #fff;
          }
          span {
            position: absolute;
            transform: translate(-50%, -50%);
            width: max-content;
            top: 120%;
            left: 50%;
            font-size: 13px;
          }
        }
      }
    }
  

  .subCont {
    position: relative;
    width: 612px;
    height: 60px;
    top: 70px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #e4e1e1;

    .introName {
      position: absolute;
      width: 40px;
      height: 40px;
      left: 20px;
      top: 10px;
      background-image: url("../img/rainbow.png");
      background-repeat: no-repeat;
      background-size: contain;

      img {
        position: absolute;
        width: 35px;
        height: 35px;
        left: 3px;
        top: 3px;
      }

      span {
        position: absolute;
        left: 60px;
        top: 7px;
        font-size: 20px;
        font-weight: normal;
      }
    }
    .option{
      position: absolute;
      left: 550px;
      top: 23px;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }
  .contImg {
    position: relative;
    top: 70px;

    img {
      max-width: 614px;
      height: 645px;
    }
  }
  .CommentIcon {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: space-between; 
    width: 600px;
    height: 40px;
    top: 75px;
    border-radius: 3px;
    z-index: 3;

    img {
      width: 20px;
      height: 20px; 
    }
    .leftIcon {
      display: flex;

      img {
        padding: 0 0 0 10px;
      }
    }
  }
  .good {
    position: relative;
    left: 10px;
    top: 60px;
    z-index: 2;
    font-size: 13px;
  }

  .Feed {
    position: relative;
    height: 200px;
    top: 8px;
    border-radius: 3px;
    border: 1px solid #e4e1e1;
    background-color: #fff;
    z-index: 1;

    .Comment{
      position: absolute;
      top: 60px;
      left: 10px;
      font-size: 12px;
     
      .message{

        .content{
          margin-left: 15px;
        }
      }

      .date{
        color: #a0a0a0;
        font-size: 5px;
      }
    }
  }
  .inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 150px;
    height: 50px;
    padding: 0 12px 0 12px;
    border-top: 1px solid #e4e1e1;

    .inputBox{
      font:14px;
      color: black;
      outline: none;
      width:520px;
      height: 40px;
      border: solid 0px;
    }

    .buttonBox{
      color:#C0E0FD;
      width: 60px;
      height: 40px;
      outline: none;
      background-color: #fff;
      border: solid 0px;
      cursor: pointer;
    }
  }
}
  //LeftCont

  .rightCont {
    position: fixed;
    left: 1100px;
    top: 100px;

    .myprofile{
      display: flex;
      justify-content: space-between;
      width: 350px;

      img{
        width: 55px;
      }

      .change{
        padding: 15px 0 0 0;

        a{
          font-size: 12px;
          color:rgb(138, 138, 255);
        }
      }
    }

    .yourProfile{
      display: flex;
      flex-direction: row;
    }

    .myprofileId {
      display: flex;
      flex-direction: column;
      padding: 5px 0 0 30px;
    }

    .userprofile{
      display: flex;
      justify-content: space-between;
      position: relative;
      width: 350px;
      height: 60px;
      top: 40px;

      img{
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }

      .userPro{
        display: flex;
      }

      .userprofileId{
        display: flex;
        flex-direction: column;
        padding: 4px 0 0 20px;
        font-size: 13px;
      }

      .change{
        padding: 15px 0 0 0;

        a{
          font-size: 12px;
          color:rgb(138, 138, 255);
        }
      }
    }
  }
  .other_box{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;

    .otherSpan {
      font-size:11px;
      color:#c7c7c7;
    }
  }
  .InstarFace{
    margin-top: 70px;
  }
}