@import "../../../Styles/jinyounglim/Common.scss";


.footer {
  width: 293px;
  padding: 0 16px;
  position: absolute;
  top: 302px;
  right: 0;
  color: $font-gray;
  font-size: 1.1rem;
  line-height: 13px;
  font-weight: 400;
  ul {
    margin: 0 0 16px 0;
    display: flex;
    flex-wrap: wrap;
    li {
      &:after {
        width: 1px;
        height: 1px;
        margin: 0 3px;
        content: "";
        display: inline-block;
        position: relative;
        top: -3px;
        background-color: $font-gray;
      }
      a {
        color: $font-gray;
        font-size: 1.1rem;
        line-height: 13px;
        font-weight: 400;
      }
    }
  }
}
