.nav_main{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
  z-index: 2;
  .nav_li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    .nav_li img{
      height: 30px;
    }
  }
  .input_search{
    width: 220px;
    height: 26px;
  }
  .input_search input{
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
    text-align: center;
    color: lightslategray;
  }
  .nav_right_image img{
    margin: 0 5px;
    width: 22px;
    height: 22px;
  }
}


.section{
  position: relative;
  display: flex;
  top: 100px;
  justify-content: center;
  height: 1000px;
  flex-direction: row;
  .package{
    position: relative;
    width: 610px;
    margin-right: 40px;
    .left_top_box{
      height: 100px;
      border: 1px solid lightgrey;
      left: 335px;
      margin-bottom: 30px;
      .story_box{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 18px 0;
        padding-inline-start: 0;
        .story_box_name{
          text-align: center;
          font-size: 12px;
          .story_image{
            width: 60px;
            height: 60px;
            border-radius: 50px;
          }
        }
      }
    }
    .left_box{
      width: 100%;
      height: 550px;
    }
    .left_under_box_set{
      width: 100%;
      display: flex;
      position: relative;
      .left_under_box{
        height: 200px;
      }
      .left_like_box{
        width: 100%;
        border: 1px solid lightgrey;
        .btn_like_box{
          display: flex;
          padding: 10px;
          .btn_work{
            background: 0 0;
            border: 0;
          }
          .btn_save{
            position: relative;
            left: 445px;
          }
        }
        .comment_box{
          width: 100%;
          border-top: 1px solid lightgrey;
          position: absolute;
          top: 137px;
          .comment_space{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 7px;
            .cnt{
              resize: none;
              width: 500px;
              height: 30px;
              outline: none;
              border: 0px solid white;
              padding: 7px;
            }
            .btn_comment{
              border: 0px;
              background-color: white;
              color: #0095f6;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .right_box{
    position: sticky;
    width: 250px;
    height: 300px;
    border: 1px solid lightgrey;
  }
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border: 1px solid lightgrey;
  .img_space{
    margin-right: 23px;
    .img_space_radius{
      border-radius: 50px;
      margin-top: 7px;
      height: 25px;
      width: 27px;
    }
  }
  .inner_box{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .name{
      font-size: 14px;
      font-weight: bold;
    }
    .option{
      position: relative;
      bottom: 5px;
      font-weight: bold;
    }
  }
}



