.main {
    .nav {
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 60px;
        background-color: #fff;
        border-bottom: 1px solid #e9e9e9;
        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 935px;
            height: 100%;
            margin: 0 auto;
            .logo img {
                width: 103px;
            }
            .search__wrap {
                width: 200px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fafafa;
                border: 1px solid #e9e9e9;
                .search {
                    position: relative;
                    #input__item {
                        background-color: #fafafa;
                        padding: 6px 0 6px 23px;
                        font-size: 14px;
                        text-align: center;
                    }

                    .search__icon {
                        position: absolute;
                        left: 65px;
                        top: 9px;
                        width: 11px;
                        height: 11px;
                        display: block;
                        background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png);
                        background-position: -399px -321px;
                    }
                }
                #icon2 {
                    position: absolute;
                    top: 50%;
                    right: 2px;
                    width: 20px;
                    height: 20px;
                    transform: translateY(-50%);
                    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png);
                    background-repeat: no-repeat;
                    background-color: transparent;
                    background-position: -318px -333px;
                    visibility: hidden;
                }
                #input__item:focus {
                    text-align: left;
                }
                #input__item:focus + #icon {
                    left: 9px;
                }
                #input__item:focus ~ #icon2 {
                    visibility: visible;
                }
            }
            .navMenu__right {
                display: flex;
                .navMenu {
                    margin-left: 15px;
                }
                .navMenu:first-child {
                    margin-left: 0;
                }
                .profile__menu {
                    position: relative;
                    .nav__profile__img {
                        img {
                            width: 23px;
                            height: 23px;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                    }
                    .sub__Menu {
                        text-indent: 0;
                        position: absolute;
                        top: 40px;
                        right: 0;
                        z-index: 2;
                        width: 200px;
                        background-color: #fff;
                        box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2);
                        border-radius: 5px;
                        padding: 8px 12px;
                    }
                }

                .sub__Menu li {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex: 1;
                    cursor: pointer;
                    padding: 12px;
                    span {
                        margin: 0 5px;
                        .fa-bookmark {
                            font-size: 16px;
                            margin-right: 3px;
                            margin-left: 2px;
                        }
                        a {
                            color: #000;
                        }
                    }
                    span:last-child {
                        width: 100%;
                    }
                }
            }
        }
    }
    main.main__container {
        padding-top: 94px;
        .feeds__container {
            width: 100%;
            margin: 0 auto;
            .feeds {
                max-width: 935px;
                margin: 0 auto;
                display: flex;
                .followers {
                    max-width: 614px;
                    width: 100%;
                    height: 130px;
                    display: flex;
                    align-items: center;
                    background-color: #fff;
                    border: 1px solid #e9e9e9;
                    margin-bottom: 30px;
                    figure {
                        width: 100px;
                        height: 100px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        .recom__img {
                            width: 65px;
                            height: 65px;
                            background: linear-gradient(
                                        rgb(255, 255, 255),
                                        #fff
                                    )
                                    padding-box,
                                /*this is your grey background*/
                                    linear-gradient(to right, #9c20aa, #fb3570)
                                    border-box;
                            margin-right: 10px;
                            padding: 2px;
                            border: 2px solid transparent;
                            border-radius: 50%;
                            margin: 0 auto;
                            img {
                                width: 100%;
                                border-radius: 50%;
                            }
                        }
                    }
                }
                .left__feed {
                    max-width: 614px;
                    width: 100%;
                    margin-right: 28px;
                    background-color: #fff;
                    border: 1px solid #e9e9e9;
                    header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        figure {
                            display: flex;
                            align-items: center;
                            img {
                                width: 32px;
                                height: 32px;
                                border-radius: 50%;
                                margin-right: 10px;
                            }
                        }
                    }
                    .more {
                        text-indent: -99999px;
                        width: 25px;
                        height: 25px;
                        opacity: 0.6;
                        background: url(https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/more.png)
                            50% 50% no-repeat;
                        background-size: cover;
                        cursor: pointer;
                    }
                }
                .main__img img {
                    max-width: 100%;
                }
                .feed__menu {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    ul {
                        display: flex;
                        align-items: center;
                        li {
                            margin-right: 15px;
                        }
                    }
                }
                .feedLike {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    img {
                        width: 25px;
                        height: 25px;
                        margin-right: 15px;
                        border-radius: 50%;
                    }
                }
                .feed__paragraph {
                    display: flex;
                    align-items: center;
                    padding-bottom: 0;
                    span {
                        padding-right: 10px;
                    }
                    .feed__paragraph__more a {
                        margin-left: 5px;
                        color: #b4b3b3;
                    }
                }
                .comment__container {
                    width: 100%;
                    border-top: 1px solid #e9e9e9;
                    .form__area {
                        width: 100%;
                        display: flex;
                        padding: 15px 12px;
                        justify-content: space-between;
                        align-items: center;
                        textarea {
                            flex-grow: 1;
                            height: 18px;
                            max-height: 80px;
                            font-size: 15px;
                        }
                        button {
                            color: #0095f6;
                            opacity: 0.5;
                        }
                        .onSubmit {
                            opacity: 1;
                        }
                    }
                }
                .feed__comment__list ul {
                    li {
                        display: flex;
                        .comment__row {
                            display: flex;
                            flex-grow: 1;
                            line-height: 1.5;
                            .user__name {
                                padding-right: 8px;
                            }
                        }
                        .like__delete {
                            flex-grow: 0;
                            .like__btn {
                                padding: 0;
                                svg {
                                    cursor: pointer;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .right__feed {
                position: relative;
                aside {
                    position: fixed;
                    max-width: 300px;
                    width: 100%;
                    header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        button a {
                            color: #0095f6;
                        }
                    }
                    .my__profile {
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        img {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            margin-right: 15px;
                        }
                        .subtitle {
                            color: #8e8e8e;
                        }
                    }
                    .recom__container {
                        margin-top: 15px;
                        header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 14px;
                            color: #8e8e8e;
                            a {
                                color: #000;
                            }
                        }
                        .list__container {
                            li {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                .recomed__row {
                                    padding-top: 8px;
                                    display: flex;
                                    align-items: center;
                                    .round {
                                        width: 42px;
                                        height: 42px;
                                        background: linear-gradient(
                                                    rgb(255, 255, 255),
                                                    #fff
                                                )
                                                padding-box,
                                            /*this is your grey background*/
                                                linear-gradient(
                                                    to right,
                                                    #9c20aa,
                                                    #fb3570
                                                )
                                                border-box;
                                        margin-right: 10px;
                                        padding: 2px;
                                        border: 2px solid transparent;
                                        border-radius: 50%;
                                        img {
                                            width: 100%;
                                            border-radius: 50%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .navigation__footer {
                        margin-top: 15px;
                        display: flex;
                        flex-wrap: wrap;
                        padding-left: 8px;
                        li a {
                            line-height: 1.5;
                            color: #c7c7c7;
                            font-size: 12px;
                            position: relative;
                            margin: 0 4px;
                        }

                        span {
                            color: #c7c7c7;
                            font-size: 12px;
                            padding-left: 5px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
